# Required for all uses
# It takes 2 mins to get a free twilio account https://www.twilio.com/login
# Fill in your credentials below and rename this file to .env

TWILIO_ACCOUNT_SID=AC8104753312f84112c864f1af66db219d
LOCAL_AUTH_TOKEN=8ad5963874ceb414c4d4386c9288fbfe
