body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

img {
  user-select: none;
}

button {
  text-transform: none !important;
}

* {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

::-moz-selection {
  background-color: #dd62afaa;
  color: #eee;
}
::selection {
  background-color: #dd62afaa;
  color: #eee;
}

.github-logo,
body
  > div
  > footer
  > div
  > div
  > div.footer-top.space-between.text-xxs
  > div.footer-social
  > div
  > a
  > svg
  > path {
  fill: #ee60a8;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3a3a3d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e861aa;
  transition: all 0.55s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff6d96;
}

a,
button {
  text-decoration: none;
  outline: none !important;
  cursor: default;
  @media screen and (max-height: 540px) and (orientation: landscape) {
    cursor: default;
  }
}

a:hover,
button:hover {
  cursor: pointer;
}

* {
  -webkit-tap-highlight-color: transparent;
}
