body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
  background: #f4f3f3;
}

img {
  user-select: none;
}

button {
  text-transform: none !important;
}

* {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

::-moz-selection {
  background-color: #62cbdd;
  color: #eee;
}
::selection {
  background-color: #62cbdd;
  color: #eee;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3a3a3d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5a9fac;
  transition: all 0.55s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5aaebe;
}

a,
button {
  text-decoration: none;
  outline: none !important;
  cursor: default;
  @media screen and (max-height: 540px) and (orientation: landscape) {
    cursor: default;
  }
}

a:hover,
button:hover {
  cursor: pointer;
}

* {
  -webkit-tap-highlight-color: transparent;
}

.underline-effect {
  background-image: linear-gradient(120deg, #007086 0%, #0d6e81 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.25em;
  background-position: 0 88%;
} 